* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(183, 219, 216);
  color: rgb(15, 15, 15);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
nav {
  display: flex;
  justify-content: space-around;
  /* background-color: antiquewhite; */
  height: 52px;
}
nav ul {
  display: flex;
  justify-content: center;
}
li {
  list-style: none;
  margin: 0 23px;
  font-weight: bold;
  margin-top: 15px;
}
li:hover{
  scale: 1.2;
  transition:all ease-out 1s ;
}
main hr {
  border: 0;
  background-color: rgb(47, 50, 49);
  height: 1.5px;
  margin-left: 130px;
  margin-right: 140px;
}
.right a {
  text-decoration: none;
  color: black;
}
.right a:hover {
  color: rgb(159, 153, 71);
}
.left {
  font-size: 29px;
  font-weight: bold;
  margin-top: 10px;
  -webkit-text-stroke: 1.5px rgb(239, 102, 29);
  color: transparent;
}
.first-section {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.first-section div {
  width: 30%;
  /* margin-top: 100px; */
}
.left-section {
  /* background-color: red; */
  font-size: 2rem;
  margin-top: 72px;
  font-weight: bolder;
  text-shadow: 2px 4px 4px rgb(98, 96, 96);
}
.right-section img {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 550px;
  border: 7px solid blueviolet;
  filter: drop-shadow(10px 10px 10px);
}
.span {
  color: blueviolet;
}
#element {
  color: blueviolet;
}
.second-section {
  max-width: 80vw;
  margin: auto;
  margin-top: 10px;
}
.third-section {
  max-width: 80vw;
  margin: auto;
  margin-top: 10px;
  transition: all ease 0.5s;
}
h1 {
  font-size: 28px;
  -webkit-text-stroke: 1.5px rgb(239, 102, 29);
  color: transparent;
}
h1:hover {
  color: black;
}
.left:hover {
  color: black;
}
#element1 {
  font-size: 17px;
}
.left img {
  width: 80px;
  border-radius: 50%;
  /* border: 1.5px solid black; */
  filter: drop-shadow(10px 10px 20px);
  transition: all ease 1s;
}
.left:hover img {
  scale: 1;
}
.image {
  display: flex;
  margin-top: 20px;
}
.image img {
  width: 134px;
  margin: 0 103px;
  filter: drop-shadow(10px 10px 10px);
}
#htm {
  width: 190px;
  transition: all ease 0.7s;
}
#sql {
  width: 250px;
  height: 151px;
  margin-left: 290px;
}
.image2 {
  display: flex;
  margin-top: 30px;
}
.image2 img {
  margin: 0 100px;
  filter: drop-shadow(10px 10px 10px);
}
#py {
  width: 155px;
  margin-left: 34px;
}
.button a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 41%;
  width: 203px;
  font-weight: bold;
  /* border-radius: 20px; */
  text-decoration: none;
  -webkit-text-stroke: 1.5px rgb(63, 35, 35);
  color: transparent;
  font-size: 25px;
  text-shadow: 2px 4px 4px rgb(98, 96, 96);
  border-bottom: 3px solid black;
}
.fourth-section {
  max-width: 50vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#css {
  transition: all ease 0.7s;
}
#js {
  transition: all ease 0.7s;
}
#py {
  transition: all ease 0.7s;
}
#sql {
  transition: all ease 0.7s;
}
#htm:hover {
  scale: 1.1;
}
#css:hover {
  scale: 1.1;
}
#js:hover {
  scale: 1.1;
}
#py:hover {
  scale: 1.1;
}
#sql:hover {
  scale: 1.1;
}
.fourth-section form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px 0;
}
form #name,#email,#number,#message{
    margin: 10px 0;
    padding: 10px 5px;
    border-radius: 10px;
    width: 290px;
    box-shadow: 5px 5px 0px #000;
}
form h3{
    font-size: 29px;
    -webkit-text-stroke: 1.5px rgb(239, 102, 29);
    color: transparent;
}
form h3:hover{
    color: black;
}
form button{
    width: 120px;
    height: 38px;
    margin: 10px 0;
    padding: 0 5px;
    /* border: 2px solid black; */
    background-color: #20b2aa;
    color: white;
    font-weight: bold;
    transition: all ease 1s;
}
form button:hover{
    box-shadow: 5px 5px 0px #000;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(122, 122, 193); */
    width: 30vw;
    height: 20vh;
    margin: 0 480px;
}
footer a img{
    width: 60px;
    margin: 0 20px;
}
footer #link{
    width: 100px;
    margin-left: -23%;
    filter: drop-shadow(5px 5px 0px white);
}
footer #twitt{
    width: 40px;
    margin-left: 7%;
    filter: drop-shadow(5px 5px 0px white);
}
footer #insta{
    width: 68px;
    margin-left: 22%;
    filter: drop-shadow(5px 5px 0px white);
}
footer #face{
    width: 51px;
    margin-left: 14%;
    filter: drop-shadow(5px 5px 0px white);
}
.cp{
  text-align: center;
  width: 97%;
  height: 50px;
  padding: 20px;
  color: rgb(253, 255, 254);
  background-color: #2c2929;
}

/* media query started here!! */
@media screen and (max-width:420px){
    .right-section img {
        width: 120px;
        margin-top: 74px;
        margin-bottom: 15px;
        border-radius: 70%;
        border: 1px solid blueviolet;
        filter: drop-shadow(10px 10px 10px);
      }
      .left-section {
        /* background-color: red; */
        font-size: 1rem;
        margin-top: 70px;
        font-weight: bolder;
        text-shadow: 2px 4px 4px rgb(98, 96, 96);
        width: 400px;
      }
      .third-section {
        width: 100vw;
        margin:0 10px;
        margin-top: 10px;
        transition: all ease 0.5s;
      }
      #css {
        transition: all ease 0.7s;
      }
      #js {
        transition: all ease 0.7s;
      }
      #py {
        transition: all ease 0.7s;
      }
      #sql {
        transition: all ease 0.7s;
      }
      #htm:hover {
        scale: 1.1;
      }
      #css:hover {
        scale: 1.1;
      }
      #js:hover {
        scale: 1.1;
      }
      #py:hover {
        scale: 1.1;
      }
      #sql:hover {
        scale: 1.1;
      }
      #py {
        width: 50px;
        margin-left: 0px;
      }
      .image img {
        width: 74px;
        margin: 0 50px;
        filter: drop-shadow(10px 10px 10px);
      }
      #htm {
        width: 65px;
        transition: all ease 0.7s;
      }
      #sql {
        width: 80px;
        height: 50px;
        margin-left: 90px;
      }
      #css {
        width: 50px;
        /* height: 50px; */
        margin-left: 0px;
      }
      #js {
        width: 50px;
        /* height: 50px; */
        margin-left: 10px;
      }
      .image2 img {
        margin: 0 50px;
        filter: drop-shadow(10px 10px 10px);
      }
      .fourth-section form{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        border-radius: 10px;
        margin: 13px 60px;
    }
    .left img {
        width: 90px;
        border-radius: 50%;
        /* border: 1.5px solid black; */
        filter: drop-shadow(10px 10px 20px);
        transition: all ease 1s;
        margin-left: 20px;
        margin-top: 49px;
      }
    .third-section h1{
        margin: 0 25px;
        font-size: 20px;
    }
    li {
        list-style: none;
        margin: 0 5px;
        font-weight: bold;
        margin-top: -53px;
        font-size: 11px;
      }
    .button{
        width: 17vw;
        margin: 17px 34px;
        font-size: 17px;
    }
    footer{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      /* background-color: rgb(122, 122, 193); */
      width: 37vw;
      height: 20vh;
      margin: -35px 42%;
  }
  form button{
    width: 120px;
    height: 38px;
    margin-top: 25px;
    padding: 0 5px;
    /* border: 2px solid black; */
    background-color: lightseagreen;
    color: white;
    font-weight: bold;
    transition: all ease 1s;
  }
  .second-section h1{
    /* margin: 0 10px; */
    font-size: 20px;
  }
  .third-section{
    max-width: 100vw;
  }
  .image{
    margin-top: 25px;
    margin-left: -18px;
    margin-right: -23px;
  }
  #cn{
    font-size: 20px;
    -webkit-text-stroke: .9px rgb(239, 102, 29);
    color: #000;
  }
  #cv{
    font-size: 17px;
  }
  h1 {
    /* font-size: 28px; */
    -webkit-text-stroke: .9px rgb(239, 102, 29);
    color: black;
  }
  .left-section span {
    color: blueviolet;
  }
  nav{
    display: flex;
    flex-direction: column;
  }
  .right{
    margin-left: 98px;
  }
  .first-section{
    margin-top: -20px;
  }
  .first-section div {
    width: 520px;
    margin-left: 38px;
  }
  hr{
    color: transparent;
    width: 0px;
  }
  #about{
    text-align: center;
  }
  .cp{
    text-align: center;
    width: 100vw;
    height: 50px;
    padding: 20px;
    color: rgb(253, 255, 254);
    background-color: #2c2929;
  }
  .image2{
    margin-left: -9px;
  }
  .fourth-section {
    max-width: 100vw;
    margin: 0 48%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
}